body {
    background-image: url(https://www.freegreatpicture.com/files/146/13795-colorful-background-of-high-definition.jpg);
  text-align: center;
  height: 100%;
  }
.titleheader {
  background: -webkit-linear-gradient(lightblue, rgb(236, 7, 7));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'Calligraffitti', cursive;
}

.gametitles{
    color: lightblue;
    font-size: 19px;
  
  }
  .gametext {
    font-size: 20px;
    font-family:sans-serif;
    color: lightblue;
    margin-left: 15px;
    cursor: default;
  }
  .gametext1 {
    font-size: 20px;
    font-family:georgia;
    color: lightblue;
    height: 50px;
    width: 250px;
    background-color: transparent;
    text-align: center;
    margin-bottom: 15px;
    color: lightblue;
    border-color: white;
    cursor: default;
  }
  .gametext2 {
    font-family:sans-serif;
    color: gold;
    height: 50;
    width: 65;
    margin-top: 4px;
    background-color: transparent;
    font-size: 17px;
    text-align: center;
    font-family: georgia;
    border-radius: 40%;
  
  }
  .guessbutton {
    border-radius: 50%;
    height: 58px;
    width: 58px;
    font-size: 14px;
    text-align: center;
    margin-left: 35px;
    background-color: transparent;
    color: lightblue;
    border-top-color: yellow;
    border-left-color: yellow;
    border-right-color: lightblue;
    border-bottom-color: lightblue;
  }
  .guessbutton:hover {
    color: yellow;
    border-top-color: lightblue;
    border-left-color: lightblue;
    border-right-color: yellow;
    border-bottom-color: yellow;
    cursor: crosshair;
  }
  .game1 {
    float: left;
    margin-left: 10%;
  }
  .gamebox1 {
    width: 140px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    background-color: transparent;
    color: rgb(84, 194, 102);
    border-bottom: .7px solid lightblue;
    border-top: .7px solid lightblue;
    border-left: .4px solid lightblue;
    border-right: .4px solid lightblue;

  }
  
  .gameboxtext {
    background-color: transparent;
    color: lightblue;
    font-family: georgia;
    font-size: 14px;
    cursor: default;
}
  .gamebuttonstyle {
    border-radius: 25%;
    background-color: transparent;
    color: lightblue;
    margin-left: 25px;
    border-top-color: pink;
    border-left-color: lightblue;
    border-right-color: lightblue;
    border-bottom-color: lightblue;
    width: 80px;
    height: 35px;
    font-size: 12px;
  }
  .gamebuttonstyle:hover {
    color: pink;
    border-top-color: lightblue;
    border-left-color: lightblue;
    border-right-color: lightblue;
    border-bottom-color: pink;
    cursor: crosshair;
  }
  .hrgame {
    width: 90%;
    color: white;
    border: dashed;
  
  }
  form
  {
    margin-top:40px;
    transition: all 4s ease-in-out;
  }
  
  

  /* Variabes */  
orange: #ffa600;
green: #c1d72e;
blue: #82d2e5;
grey:#f3f3f3;
white: #fff;
base-color:green ;

/* Mixin's */ 

@mixin transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@mixin clear {
  &:after {
      content: "";
      display: table;
      clear: both;
    }
}

 @mixin box-size {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

 @mixin transition {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@mixin fade {
  -moz-transition: all 1s ease-in;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
}

@mixin opacity {
  opacity:0.4;
  filter:alpha(opacity=40); 
  @include fade;
}

@mixin corners ($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius; 
  -khtml-border-radius: $radius; 
}


.wrappper{
  @include clear;
  width:100%;
  margin:0 auto;
}


canvas1{
  color:$white;
  border: $white dashed 2px;
  padding:15px;
}

 h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
   margin:5px 0;
   color:red;
}



h2 {
  font-size: 1.6em;
  color: red;
}

p1{
  font-size: 1.6em;
  color:red;
}

#alphabet {
  @include clear;
  margin:15px auto;
  padding:0;
  max-width:900px;
  color:red;
}

#alphabet li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding-top:10px;
  background:$white;
  color:$base-color;
  cursor:pointer;
  @include corners(5px);
  border: solid 1px white;
  
    
    &:hover{
      background:$base-color;
      border: solid 1px $white;
      color:$white;
    }
}

#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display:block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
}

.active {
  @include opacity;
  cursor:default;
    
  &:hover{
      @include fade;
      @include opacity;
    }
}

#mylives{
  font-size:1.6em;
  text-align:center;
  display:block;
}

button{
  @include corners (5px);
  background:$base-color;
  color:$white;
  border: solid 1px $white;
  text-decoration:none;
  cursor:pointer;
  font-size:1.2em;
  padding:18px 10px;
  width:180px;
  margin: 10px;
  outline: none;
  
    &:hover{
      @include transition;
      background:$white;
      border: solid 1px $white;
      color:$base-color;
    }
}

@media (max-width: 767px) {
  #alphabet {
  padding:0 0 0 15px;
}
  }

  @media (max-width: 480px) {
  #alphabet {
  padding:0 0 0 25px;
}
  }
  .hangmantext {
    color:white;
    font-size: 17px;
  }
  .hangmantitles {
    color: rgb(209, 131, 131);
    font-size: 24px;
  }